@charset "UTF-8";

    /* 
    em HTML é ID = em CSS é # (Só pode ter um ID por página)
    em HTML é CLASS = em CSS é . (Pode ter várias classes por página)
     */

body {
    background-color: rgb(254, 254, 247);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #275286;
}

h1 #principal {
    text-align: center;
    font-size: 2.25em;
    background-color: #275286;
    color: whitesmoke;
}

h1 #HTMLcolor {
    background-color: #F16A30;
    color: whitesmoke;
}

h1 #CSScolor {
    background-color: #306AF1;
    color: whitesmoke;
}

h2 {
    color: #4794F5;
}

.basico {
    color: rgb(53, 176, 53);
}

.intermediario {
    color: rgb(245, 168, 25);
}

.avancado {
    color: rgb(245, 14, 14);
}

.destacado {
    font-weight: bold;
    font-size: 1.2em;
}

